// base.jade
// plantilla base para las pantallas de la aplicación

doctype html
html(lang='es')
    head
        meta(charset='utf-8')
        title #{title}

        // application styles
        link(rel='stylesheet', href='/bower_components/normalize.css/normalize.css')
        link(rel='stylesheet', href='/assets/stylesheet/trackio.css')

        // application front controller
        script(src='/bower_components/pace/pace.js')
        script(type='text/javascript').
            window.History = { options: { delayInit: true} };

        script(data-main='/assets/javascript/trackio', src='/bower_components/requirejs/require.js')
    body
        // header component
        header.header.red
            .container.center
                h1.title.left
                    a(href='/', title='#{title}') #{title}
                nav.header-menu.right
                    ul
                        li
                            img(src='#{usuario.gravatar}?size=30')
                            a(href='#', title='#{usuario.nombreUsuarioCompleto}', data-route='/perfil/:nombreUsuario', data-nombreUsuario='#{usuario.nombreUsuario}') #{usuario.nombreUsuarioCompleto}
                        li
                            a(href='/logout', title='Cerrar Sesión') Cerrar Sesión

        // content component
        section#application.application.container.center
            block application-content

        // footer component
        footer.footer.container.medium.center
            p.center-text
                | Trackio! - Time tracking for projects
                strong ©
                | Copyright 2014

        block templates_section